body {
    padding: 5rem; 
    
} 

header{
    background-color: #FFDF00; 
    text-align: center;
} 
.profile_pictures{ 
    width:160px;
    height:160px;
    border:0;
    border-radius: 50%;
    
} 
.follow{
    background-color: #FFDF00;
} 
.protile_body{ 
    text-align: center;
    background-color: black ; 
}